{% extends 'base.html.twig' %}

{% block title %}La caverne d'Ali Baprix !{% endblock %}

{% block body %}
<h1>Newsletter</h1>
<br/>
<p>L'email "<strong>{{ data.email }}</strong>" a bien été envoyé.</p>
<br/>
{% endblock %}