{% extends 'base.html.twig' %}

{% block title %}La caverne d'Ali Baprix !{% endblock %}

{% block body %}

<section id="newsletter_from">
    <h1>Ajout d'une newsletter</h1>
<div class="newsletter_form">
    {{ form(form) }}
</div>
</section>
{% endblock %}
