{% extends 'base.html.twig' %}

{% block title %}La caverne d'Ali Baprix !{% endblock %}

{% block body %}
<section id="accueil">
    <p style="margin-top: 20px; text-align: end">Date du jour : {{ date }}</p>
    <div id="nom_site">
    <p>LA</p>
    <p>CAVERNE</p>
    <p><span style="color: green">D</span><span style="color: yellow">'</span><span>A</span><span style="color: blueviolet">L</span><span style="color: orange">I</span> <span style="color: blue">B</span><span style="color: red">A</span><span style="color: white">P</span><span style="color: green">R</span><span style="color: yellow">I</span><span style="color: indigo">X</span></p>
    </div>
    <h1>Accueil</h1>

    <div style="margin-top: 20px; text-align: center;">
        <img src="assets/img/front.jpg" alt="photo d'accueil">
    </div>
    
</section>
{% endblock %}
